.todoForm{
    display: flex;
    width: 100%;
    margin-top: 5px;
    
}

.todo-group{
    width: 88%;
}

.todo-btn{
    display: inline-block;
    height: 50px;
    
}



@media (max-width:700px){
    .todoForm{
        display: flex;
        flex-direction: column;
    }

    .todo-group{
        width: 100%;
        display: inline-block;
    }
    .todo-btn{
        display: inline-block;
        width: 100%;
    }
}